In [2]:
# 파이썬으로 Database 생성
# SQLite3의 경우 connection을 생성할 때, 해당 database 파일이 존재하지 않으면 생성
# 다른관계형(Relational) DBMS(Database Management System)의 경우는 사전에 Database가 생성되어 있어야 함

import sqlite3

conn = sqlite3.connect("coffee.db")

print("Database 생성 및 연결")

Database 생성 및 연결

In [3]:
# Database라는 곳은 데이터들을 보관하는 곳
# table: 데이터들을 논리적으로 묶은 것
#        행(row, record)및 열(column, )로 이루어짐
# table schema :  어떤 데이터로 들러 구성이고, 각 열이 어떤 데이터 형식을 가지는지 정의
# 테이블 생성하고 데이터 입력

conn.execute('''
CREATE TABLE users (
    id      INT     PRIMARY KEY     NOT NULL,
    name    TEXT    NOT NULL
)

''')

print("테이블이 생성되었습니다")

테이블이 생성되었습니다

In [7]:
# Database가 존재하고, Table 생성한 상태
# 이 table에 데이터 입력
conn.execute('''
INSERT INTO users (id, name)
VALUES (5, '김철수')
''')
conn.execute('''
INSERT INTO users (id, name)
VALUES (6, '이영희')
''')
conn.execute('''
INSERT INTO users (id, name)
VALUES (7, '이동국')
''')
conn.execute('''
INSERT INTO users (id, name)
VALUES (8, '안정환')
''')
 
conn.commit() #입력, 삭제, 수정시에는 항상 commit해줘야함

In [8]:
# 데이터를 보여준다!
# 우선 데이터를 조회해서 Result Set를 가져옴

cursor = conn.execute('''
SELECT * -- 테이블의 모든 열을 보여달라
FROM users
''')

In [9]:
type(cursor)

sqlite3.Cursor

In [10]:
for row in cursor:
    print(row)

(1, '김철수')
(2, '이영희')
(3, '이동국')
(4, '안정환')
(5, '김철수')
(6, '이영희')
(7, '이동국')
(8, '안정환')

In [13]:
# 데이터를 삭제하고 싶다
conn.execute('''
DELETE FROM users
WHERE id = 7
''')

conn.commit()

In [12]:
cursor = conn.execute('''
SELECT *
FROM users
''')
for row in cursor:
    print(row)

(1, '김철수')
(2, '이영희')
(3, '이동국')
(4, '안정환')
(5, '김철수')
(6, '이영희')
(8, '안정환')

In [14]:
conn.execute('''
DELETE FROM users
WHERE id > 4
''')

conn.commit()

cursor = conn.execute('''
SELECT *
FROM users
''')
for row in cursor:
    print(row)

(1, '김철수')
(2, '이영희')
(3, '이동국')
(4, '안정환')

In [15]:
# 데이터 입력, 조회, 삭제 함
# 이제 남은 수정

conn.execute('''
UPDATE users 
SET name = '이강인'
WHERE id = 2
''')

conn.commit()

cursor = conn.execute('''
SELECT *
FROM users
''')
for row in cursor:
    print(row)

(1, '김철수')
(2, '이강인')
(3, '이동국')
(4, '안정환')